.essay-link {
  font-size: 20px;
}

.essaycard {
  padding-left: 0px;
  padding-right: 0px;
}

.python {
  font-size: 18px;
}

.card-link {
  line-height: 38px;
}

.infocard {
  display: None;
}

.essay {
  float: left;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 7%;
}

.title {
  text-align: center;
  padding-top: 2%;
  font-weight: bold;
}

.title-2 {
  padding-top: 20px;
  font-weight: bold;
}

.text {
  padding-top: 20px;
  font-size: 26px;
  letter-spacing: 3px;
  line-height: 38px;
}

.hljs {
  padding-top: 15px;
  height: 200px;
}

.imgbox {
  text-align: center;
}
